dashboard.json
[{"id":"483d5ddd.e7c834","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"85f3dc43.1d4f","type":"ui_group","z":"","name":"Light","tab":"a2e7d8b.e630728","order":1,"disp":true,"width":"6","collapse":false},{"id":"a2e7d8b.e630728","type":"ui_tab","z":"","name":"Home","icon":"mi-dashboard","disabled":false,"hidden":false},{"id":"5fe8b9c1.7008b8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4830454a.5a95fc","type":"ui_spacer","name":"spacer","group":"85f3dc43.1d4f","order":7,"width":"6","height":1},{"id":"bdac2465.f8be38","type":"ui_spacer","name":"spacer","group":"85f3dc43.1d4f","order":2,"width":"6","height":1},{"id":"95d0e154.63c65","type":"ui_group","z":"","name":"RED","tab":"a2e7d8b.e630728","order":2,"disp":true,"width":"6","collapse":false},{"id":"b234d526.6303b8","type":"ui_group","z":"","name":"Network","tab":"a2e7d8b.e630728","disp":true,"width":"12","collapse":true},{"id":"34f6a88.866d158","type":"exec","z":"483d5ddd.e7c834","command":"cd /home/pi/milight/;./on.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":460,"y":160,"wires":[[],[],[]]},{"id":"4609209f.8a5d2","type":"exec","z":"483d5ddd.e7c834","command":"cd /home/pi/milight/;./off.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":460,"y":240,"wires":[[],[],[]]},{"id":"d7228b24.f2a488","type":"exec","z":"483d5ddd.e7c834","command":"cd /home/pi/milight/;./change_color.sh ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":630,"y":400,"wires":[[],[],[]],"info":"## Usage: ./change_temp color(0-255) brightness(0-100)"},{"id":"bc0c245a.938258","type":"exec","z":"483d5ddd.e7c834","command":"cd /home/pi/milight/;./change_temp.sh ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":930,"y":680,"wires":[[],[],[]],"info":"## Usage: ./change_temp color(0-255) brightness(0-100)"},{"id":"ca9e381.24ce1c8","type":"join","z":"483d5ddd.e7c834","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":760,"y":580,"wires":[["bc0c245a.938258","a27b10e.c1614f"]]},{"id":"391c7e28.7e84f2","type":"interval","z":"483d5ddd.e7c834","name":"interval","interval":"5","onstart":false,"msg":"ping","showstatus":false,"unit":"seconds","statusformat":"YYYY-MM-D HH:mm:ss","x":90,"y":40,"wires":[["da645a9f.e0f7e8","5e98c6b9.0b5408"]]},{"id":"6dffb2fc.e9206c","type":"ui_colour_picker","z":"483d5ddd.e7c834","name":"","label":"Colour","group":"85f3dc43.1d4f","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"true","order":8,"width":"0","height":"0","passthru":true,"topic":"","x":110,"y":400,"wires":[["c31fd737.74fee8"]]},{"id":"357c46e5.61891a","type":"debug","z":"483d5ddd.e7c834","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":480,"wires":[]},{"id":"c31fd737.74fee8","type":"function","z":"483d5ddd.e7c834","name":"parseColour","func":"\nmsg.payload = msg.payload.slice(3,-1);\nregex = /\\(/gi;\nmsg.payload = msg.payload.replace(regex,\"\")\nregex = /\\)/gi;\nmsg.payload = msg.payload.replace(regex,\"\")\nvalues = msg.payload.split(',')\nrgb = 65536 * Number(values[0]) + 256 * Number(values[1]) + Number(values[2])\nmsg.payload = String(rgb)+\" 100\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["357c46e5.61891a","d7228b24.f2a488"]]},{"id":"da645a9f.e0f7e8","type":"cpu","z":"483d5ddd.e7c834","name":"","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":410,"y":40,"wires":[["6d1eb37b.4d42dc"]]},{"id":"a27b10e.c1614f","type":"debug","z":"483d5ddd.e7c834","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":580,"wires":[]},{"id":"6d1eb37b.4d42dc","type":"function","z":"483d5ddd.e7c834","name":"format temperature","func":"msg.payload = Number(String(msg.payload).slice(0,\"-2\"))\n// msg.payload = msg.payload\nreturn msg;","outputs":"1","noerr":0,"x":850,"y":40,"wires":[["30cf7335.65e71c"]]},{"id":"82779271.d9ec8","type":"ui_switch","z":"483d5ddd.e7c834","name":"","label":"Bedroom","tooltip":"","group":"85f3dc43.1d4f","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":140,"wires":[["a7612a56.b066f8"]]},{"id":"a7612a56.b066f8","type":"switch","z":"483d5ddd.e7c834","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":200,"wires":[["34f6a88.866d158"],["4609209f.8a5d2"]]},{"id":"31a6bb8.4c1b644","type":"ui_slider","z":"483d5ddd.e7c834","name":"","label":"Temperature","tooltip":"","group":"85f3dc43.1d4f","order":3,"width":"4","height":"1","passthru":true,"outs":"all","topic":"temp","min":0,"max":"255","step":"5","x":150,"y":560,"wires":[["321dae1e.b91062"]]},{"id":"3401ca93.aa91a6","type":"ui_slider","z":"483d5ddd.e7c834","name":"","label":"Brightness","tooltip":"","group":"85f3dc43.1d4f","order":5,"width":"4","height":"1","passthru":true,"outs":"all","topic":"bright","min":0,"max":"100","step":"10","x":150,"y":680,"wires":[["d028ed15.ed58b"]]},{"id":"139537b4.841718","type":"function","z":"483d5ddd.e7c834","name":"parseTemperature","func":"msg.payload = msg.payload + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":620,"wires":[["bc0c245a.938258"]]},{"id":"321dae1e.b91062","type":"ui_text","z":"483d5ddd.e7c834","group":"85f3dc43.1d4f","order":4,"width":"2","height":"1","name":"temperatureValue","label":"","format":"{{msg.payload}}","layout":"row-left","x":380,"y":560,"wires":[]},{"id":"d028ed15.ed58b","type":"ui_text","z":"483d5ddd.e7c834","group":"85f3dc43.1d4f","order":6,"width":"2","height":"1","name":"brightnessValue","label":"","format":"{{msg.payload}}","layout":"row-left","x":380,"y":680,"wires":[]},{"id":"d959e9af.21ebc8","type":"inject","z":"483d5ddd.e7c834","name":"","topic":"","payload":"start","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":260,"wires":[["6e635a74.f7ce34"]]},{"id":"6e635a74.f7ce34","type":"function","z":"483d5ddd.e7c834","name":"","func":"temperatureValue.text = 255;\nbrightnessValue.text = 100;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[[]]},{"id":"30cf7335.65e71c","type":"ui_chart","z":"483d5ddd.e7c834","name":"","group":"95d0e154.63c65","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":40,"wires":[[]]},{"id":"5e98c6b9.0b5408","type":"arp","z":"483d5ddd.e7c834","name":"ARP","macs":"","x":390,"y":100,"wires":[["c5ecec3d.b94ac"]]},{"id":"c5ecec3d.b94ac","type":"ui_table","z":"483d5ddd.e7c834","group":"b234d526.6303b8","name":"","order":1,"width":"12","height":"12","columns":[],"outputs":0,"cts":false,"x":1210,"y":100,"wires":[]}]