dashboard.json
[{"id":"483d5ddd.e7c834","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"581deb38.052294","type":"tab","label":"Light panel","disabled":false,"info":""},{"id":"85f3dc43.1d4f","type":"ui_group","z":"","name":"Light","tab":"a2e7d8b.e630728","order":1,"disp":true,"width":"6","collapse":false},{"id":"a2e7d8b.e630728","type":"ui_tab","z":"","name":"Home","icon":"mi-featured_play_list","disabled":false,"hidden":false},{"id":"5fe8b9c1.7008b8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"95d0e154.63c65","type":"ui_group","z":"","name":"RED","tab":"a2e7d8b.e630728","order":2,"disp":true,"width":"6","collapse":false},{"id":"b234d526.6303b8","type":"ui_group","z":"","name":"Network","tab":"a2e7d8b.e630728","disp":true,"width":"12","collapse":true},{"id":"49dc3238.895b1c","type":"Generic BLE","z":"","localName":"M6716AB3F02CF4E05B  ","address":"c4:be:84:00:cb:0a","uuid":"c4be8400cb0a","muteNotifyEvents":false,"operationTimeout":"1000","characteristics":[{"uuid":"2a00","name":"Device Name","type":"org.bluetooth.characteristic.gap.device_name","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a01","name":"Appearance","type":"org.bluetooth.characteristic.gap.appearance","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a02","name":"Peripheral Privacy Flag","type":"org.bluetooth.characteristic.gap.peripheral_privacy_flag","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"2a03","name":"Reconnection Address","type":"org.bluetooth.characteristic.gap.reconnection_address","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"2a04","name":"Peripheral Preferred Connection Parameters","type":"org.bluetooth.characteristic.gap.peripheral_preferred_connection_parameters","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a05","name":"Service Changed","type":"org.bluetooth.characteristic.gatt.service_changed","notifiable":false,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"1001","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"1002","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"1003","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"1004","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"1005","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"2a23","name":"System ID","type":"org.bluetooth.characteristic.system_id","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a24","name":"Model Number String","type":"org.bluetooth.characteristic.model_number_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a25","name":"Serial Number String","type":"org.bluetooth.characteristic.serial_number_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a26","name":"Firmware Revision String","type":"org.bluetooth.characteristic.firmware_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a27","name":"Hardware Revision String","type":"org.bluetooth.characteristic.hardware_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a28","name":"Software Revision String","type":"org.bluetooth.characteristic.software_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a29","name":"Manufacturer Name String","type":"org.bluetooth.characteristic.manufacturer_name_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a2a","name":"IEEE 11073-20601 Regulatory Certification Data List","type":"org.bluetooth.characteristic.ieee_11073-20601_regulatory_certification_data_list","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a50","name":"PnP ID","type":"org.bluetooth.characteristic.pnp_id","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false}]},{"id":"34f6a88.866d158","type":"exec","z":"483d5ddd.e7c834","command":"cd /home/pi/milight/;./on.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1500,"y":240,"wires":[[],[],[]]},{"id":"4609209f.8a5d2","type":"exec","z":"483d5ddd.e7c834","command":"cd /home/pi/milight/;./off.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1500,"y":320,"wires":[[],[],[]]},{"id":"d7228b24.f2a488","type":"exec","z":"483d5ddd.e7c834","command":"cd /home/pi/milight/;./change_color.sh ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1310,"y":900,"wires":[[],[],[]],"info":"## Usage: ./change_temp color(0-255) brightness(0-100)"},{"id":"bc0c245a.938258","type":"exec","z":"483d5ddd.e7c834","command":"cd /home/pi/milight/;./change_temp.sh ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1110,"y":660,"wires":[["357c46e5.61891a"],[],[]],"info":"## Usage: ./change_temp color(0-255) brightness(0-100)"},{"id":"391c7e28.7e84f2","type":"interval","z":"483d5ddd.e7c834","name":"interval","interval":"30","onstart":false,"msg":"ping","showstatus":false,"unit":"seconds","statusformat":"YYYY-MM-D HH:mm:ss","x":310,"y":80,"wires":[["da645a9f.e0f7e8","5e98c6b9.0b5408"]]},{"id":"357c46e5.61891a","type":"debug","z":"483d5ddd.e7c834","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":800,"wires":[]},{"id":"c31fd737.74fee8","type":"function","z":"483d5ddd.e7c834","name":"parseColour","func":"msg.payload = msg.payload.slice(3,-1);\nregex = /\\(/gi;\nmsg.payload = msg.payload.replace(regex,\"\")\nregex = /\\)/gi;\nmsg.payload = msg.payload.replace(regex,\"\")\nvalues = msg.payload.split(',')\nrgb = 65536 * Number(values[0]) + 256 * Number(values[1]) + Number(values[2])\nmsg.payload = String(rgb)+\" 100\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":900,"wires":[["d7228b24.f2a488"]]},{"id":"da645a9f.e0f7e8","type":"cpu","z":"483d5ddd.e7c834","name":"","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":630,"y":80,"wires":[["6d1eb37b.4d42dc"]]},{"id":"6d1eb37b.4d42dc","type":"function","z":"483d5ddd.e7c834","name":"format temperature","func":"msg.payload = Number(String(msg.payload).slice(0,\"-3\"))\n// msg.payload = msg.payload\nreturn msg;","outputs":"1","noerr":0,"x":1070,"y":80,"wires":[["30cf7335.65e71c"]]},{"id":"82779271.d9ec8","type":"ui_switch","z":"483d5ddd.e7c834","name":"","label":"Bedroom switch","tooltip":"","group":"85f3dc43.1d4f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":320,"y":280,"wires":[["a7612a56.b066f8"]]},{"id":"a7612a56.b066f8","type":"switch","z":"483d5ddd.e7c834","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":280,"wires":[["34f6a88.866d158"],["4609209f.8a5d2"]]},{"id":"31a6bb8.4c1b644","type":"ui_slider","z":"483d5ddd.e7c834","name":"tempSlider","label":"Temperature","tooltip":"","group":"85f3dc43.1d4f","order":2,"width":"4","height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"120","step":"10","x":330,"y":540,"wires":[["321dae1e.b91062","40e6db9.3739e24"]]},{"id":"3401ca93.aa91a6","type":"ui_slider","z":"483d5ddd.e7c834","name":"britSlider","label":"Brightness","tooltip":"","group":"85f3dc43.1d4f","order":4,"width":4,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":"10","x":320,"y":760,"wires":[["d028ed15.ed58b","90995039.57e2e"]]},{"id":"321dae1e.b91062","type":"ui_text","z":"483d5ddd.e7c834","group":"85f3dc43.1d4f","order":3,"width":"2","height":"1","name":"tempValue","label":"","format":"","layout":"row-left","x":540,"y":540,"wires":[]},{"id":"d028ed15.ed58b","type":"ui_text","z":"483d5ddd.e7c834","group":"85f3dc43.1d4f","order":5,"width":"2","height":"1","name":"britValue","label":"","format":"","layout":"row-left","x":540,"y":760,"wires":[]},{"id":"30cf7335.65e71c","type":"ui_chart","z":"483d5ddd.e7c834","name":"cpuTempChart","group":"95d0e154.63c65","order":1,"width":0,"height":0,"label":"CPU temp","chartType":"line","legend":"false","xformat":"auto","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1460,"y":80,"wires":[[]]},{"id":"5e98c6b9.0b5408","type":"arp","z":"483d5ddd.e7c834","name":"ARP","macs":"","x":610,"y":140,"wires":[["f30d437.b5618c"]]},{"id":"c5ecec3d.b94ac","type":"ui_table","z":"483d5ddd.e7c834","group":"b234d526.6303b8","name":"","order":1,"width":12,"height":10,"columns":[{"field":"mac","title":"MAC","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"ip","title":"IP","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"iface","title":"Interface","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1430,"y":140,"wires":[]},{"id":"902a99a6.dbcb58","type":"inject","z":"483d5ddd.e7c834","name":"","topic":"","payload":"120","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":540,"wires":[["31a6bb8.4c1b644"]]},{"id":"24e2b6e3.dc7b3a","type":"inject","z":"483d5ddd.e7c834","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":760,"wires":[["3401ca93.aa91a6"]]},{"id":"be0c36be.3277d8","type":"debug","z":"483d5ddd.e7c834","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":400,"wires":[]},{"id":"f83410bf.5185b","type":"inject","z":"483d5ddd.e7c834","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":400,"wires":[[]]},{"id":"f30d437.b5618c","type":"function","z":"483d5ddd.e7c834","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":140,"wires":[["c5ecec3d.b94ac"]]},{"id":"677e1c1a.56d5c4","type":"function","z":"483d5ddd.e7c834","name":"tempParser","func":"var temp = flow.get(\"tempValue\");\nvar brit = flow.get(\"britValue\");\nmsg.payload = String(temp + \" \" + brit);\nreturn (msg);","outputs":1,"noerr":0,"x":710,"y":640,"wires":[["bc0c245a.938258"]]},{"id":"40e6db9.3739e24","type":"change","z":"483d5ddd.e7c834","name":"","rules":[{"t":"set","p":"tempValue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":600,"wires":[["677e1c1a.56d5c4"]]},{"id":"90995039.57e2e","type":"change","z":"483d5ddd.e7c834","name":"","rules":[{"t":"set","p":"britValue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":680,"wires":[["677e1c1a.56d5c4"]]},{"id":"d3aae2c9.b7d28","type":"python-function","z":"483d5ddd.e7c834","name":"createPacket","func":"#!/usr/bin/env python2\nimport sys, string\n\ndata = \"[32, 161, 103, 22, 2, 1, 0, 0, 0, 0, 0]\"\ninput = eval(data)\n\nk = input[0]\n\n# checksum\nj = 0\ni = 0\n\nwhile i <= 10:\n    j += input[i] & 0xff\n    i += 1\nchecksum = ((( (k ^ j) & 0xff) + 131) & 0xff)\n\nxored = [(s&0xff)^k for s in input]\n\noffs = [0, 16, 24, 1, 129, 55, 169, 87, 35, 70, 23, 0]\n\nadds = [x+y&0xff for(x,y) in zip(xored, offs)]\n\nadds[0] = k\nadds.append(checksum)\n#print checksum\n\nhexs = [hex(x) for x in adds]\nhexs = [x[2:] for x in hexs]\nhexs = [x.zfill(2) for x in hexs]\n\n#print ''.join(hexs)\nmsg['payload'] = ''.join(hexs)\nreturn msg","outputs":1,"x":710,"y":700,"wires":[["357c46e5.61891a"]]},{"id":"1ed068d.ba5eb97","type":"ui_slider","z":"581deb38.052294","name":"","label":"Temperature","tooltip":"","group":"85f3dc43.1d4f","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"255","step":"1","x":270,"y":260,"wires":[["bbb95659.4ab118"]]},{"id":"3f8c34cd.ba5edc","type":"ui_slider","z":"581deb38.052294","name":"","label":"Brightness","tooltip":"","group":"85f3dc43.1d4f","order":8,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"1","x":270,"y":320,"wires":[["d351443c.90db28"]]},{"id":"1f67e442.ee2a8c","type":"python-function","z":"581deb38.052294","name":"createPacket","func":"#!/usr/bin/env python2\nimport sys, string\n\ndata = msg['payload'];\n#\"[32, 161, 103, 22, 2, 1, 0, 0, 0, 0, 0]\"\ninput = eval(data)\n\nk = input[0]\n\n# checksum\nj = 0\ni = 0\n\nwhile i <= 10:\n    j += input[i] & 0xff\n    i += 1\nchecksum = ((( (k ^ j) & 0xff) + 131) & 0xff)\n\nxored = [(s&0xff)^k for s in input]\n\noffs = [0, 16, 24, 1, 129, 55, 169, 87, 35, 70, 23, 0]\n\nadds = [x+y&0xff for(x,y) in zip(xored, offs)]\n\nadds[0] = k\nadds.append(checksum)\n#print checksum\n\nhexs = [hex(x) for x in adds]\nhexs = [x[2:] for x in hexs]\nhexs = [x.zfill(2) for x in hexs]\n\n#print ''.join(hexs)\nmsg['payload'] = hexs\nreturn msg","outputs":1,"x":750,"y":200,"wires":[["d8411da5.4ede9","e081ea6b.0ddd38"]]},{"id":"da0d7ff5.f3709","type":"ui_button","z":"581deb38.052294","name":"","group":"85f3dc43.1d4f","order":5,"width":"3","height":"1","passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[32, 161, 103, 22, 2, 1, 0, 0, 0, 0, 0]","payloadType":"str","topic":"","x":250,"y":80,"wires":[["1f67e442.ee2a8c"]]},{"id":"3dd22df2.33d752","type":"ui_button","z":"581deb38.052294","name":"","group":"85f3dc43.1d4f","order":6,"width":"3","height":"1","passthru":true,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[85, 161, 103, 22, 2, 2, 0, 0, 0, 0, 0]","payloadType":"str","topic":"","x":250,"y":140,"wires":[["1f67e442.ee2a8c"]]},{"id":"d8411da5.4ede9","type":"debug","z":"581deb38.052294","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":200,"wires":[]},{"id":"bbb95659.4ab118","type":"function","z":"581deb38.052294","name":"parseTemperature","func":"msg.payload = String(\"[20, 161, 103, 22, 4, 4, \" + msg.payload + \", 255, 0, 0, 0]\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["1f67e442.ee2a8c"]]},{"id":"d351443c.90db28","type":"function","z":"581deb38.052294","name":"parseBrightness","func":"// \"[20, 161, 103, 22, 4, 5, $1, $2, 0, 0, 0]\"\n\nmsg.payload = String(\"[20, 161, 103, 22, 4, 5, 0, \" + msg.payload + \", 0, 0, 0]\");\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":320,"wires":[["1f67e442.ee2a8c"]]},{"id":"d162e8d6.468878","type":"Generic BLE out","z":"581deb38.052294","name":"","genericBle":"49dc3238.895b1c","x":1070,"y":340,"wires":[]},{"id":"e081ea6b.0ddd38","type":"function","z":"581deb38.052294","name":"writeValue","func":"var message = msg.payload\n\nvar bcast = []\nfor (var nm in message) {\n  bcast.push(Number(\"0x\"+message[nm]))\n}\n\n\nmsg.payload={\n    '1001':bcast,\n    'writeWithoutResponse': true};\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":340,"wires":[["d162e8d6.468878","d8411da5.4ede9"]]},{"id":"d5721aee.be9308","type":"Generic BLE in","z":"581deb38.052294","name":"","genericBle":"49dc3238.895b1c","useString":false,"notification":true,"x":1070,"y":420,"wires":[["92e6672e.7ef038"]]},{"id":"49a3e64a.4dbee8","type":"inject","z":"581deb38.052294","name":"","topic":"1001,1002,1003,1004,1005","payload":"Notify","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":420,"wires":[["d5721aee.be9308"]]},{"id":"92e6672e.7ef038","type":"debug","z":"581deb38.052294","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":420,"wires":[]},{"id":"e6e7f3d5.474d5","type":"inject","z":"581deb38.052294","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":140,"wires":[["3dd22df2.33d752"]]},{"id":"829baa8d.07d028","type":"inject","z":"581deb38.052294","name":"","topic":"","payload":"150","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":260,"wires":[["1ed068d.ba5eb97"]]},{"id":"988818ea.cbbaa8","type":"inject","z":"581deb38.052294","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":320,"wires":[["3f8c34cd.ba5edc"]]}]